@font-face {
    font-family: "Norse-Bold";
    src: url("assets/fonts/Norse-Bold.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Black.ttf");
    src: url("assets/fonts/Roboto/Roboto-BlackItalic.ttf");
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
    src: url("assets/fonts/Roboto/Roboto-BoldItalic.ttf");
    src: url("assets/fonts/Roboto/Roboto-Medium.ttf");
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
}


@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Black.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 500;
}

* {
    box-sizing: border-box;
}


body {
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Roboto';
    font-weight: 500;
}

form label {
    font-weight: 500;
    font-size: 0.8rem;
}

form input {
    border: solid gray 1px;
    border-radius: 0.1rem;
    /* height: 1.5rem; */
    padding: 0.5rem;
}

h2 {
    font-family: 'Norse-Bold';
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.blocks {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button[type="submit"] {
    margin-top: 1rem;
    background-color: #759956;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
}

.log-in {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem
}

.log-in>p {
    margin: 0;
}

.image-block {
    background: url('assets/images/halie-west-bTzpau9mKT4-unsplash.jpg') no-repeat;
    background-size: cover;
    width: min(600px, 60%);
    display: flex;
    align-items: center;
}

.form-block {
    align-self: center;
    padding: 5rem;
    box-shadow: 0.2rem 0rem 0.3rem rgb(0 0 0 / 10%);
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
}

.underlay {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 20%;
    width: 100%;
}

.underlay>p {
    font-family: 'Norse-Bold';
    font-size: 5rem;
    color: white;
}

.underlay>img {
    padding: 1rem;
    height: 100%;
}

@media (max-width: 900px) {
    .image-block {
        background: none;
        display: none;
    }

    .container {
        background: url('assets/images/halie-west-bTzpau9mKT4-unsplash.jpg') no-repeat;
        background-size: cover;
    }

    .form-block {
        height: unset;
    }
}

@media (max-width: 640px) {
    .blocks {
        flex-direction: column;
    }
}

@media (max-width: 420px) {
    .log-in {
        flex-wrap: wrap;
    }

    .form-block {
        width: 100%;
        padding-inline: 2rem;
    }
}

@media (max-width: 1360px) {
    .form-block {
        margin-right: 0px;
    }
}